.sign-up-component {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;

  justify-content: center;
  align-items: center;
}

.registration-form {
  display: flex;
  flex-direction: column;

  min-width: 500px;
  min-height: 400px;

  background-color: white;

  border-radius: 15px;

  box-shadow: 0 4px 35px rgba(53, 54, 54, 0.4);

  padding: 5%;
}

.registration-form h1 {
  display: flex;
  justify-content: center;
}

.data {
  display: flex;
  width: 100%;
  margin-top: 5%;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field {
  width: 100%;
}

button {
  border: 0;
}

.register-btn {
  display: flex;
  width: 100%;
  min-height: 6vh;

  align-items: center;
  justify-content: center;

  border-radius: 15px;

  margin-top: 5%;

  background-color: #628cf6;
}

.register-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.error {
  display: flex;
  width: 100%;
  justify-content: center;
  color: red;
}

