.new-user-component {
  display: flex;
  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

.form {

  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: white;

  min-width: 500px;
  min-height: 300px;

  padding: 5vh 3vw 5vh 3vw;

  border-radius: 10px;

  box-shadow: 0 4px 35px rgba(53, 54, 54, 0.4);
}

.form h1 {
  display: flex;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.data-input {
  display: flex;

  margin-top: 1vh;

  min-height: 4vh;
  border: 1px;
  border-bottom: 1px solid black;
}

.ng-valid[required], .ng-valid:required {
  border-bottom: 2px solid #42A948;
}

.ng-invalid[required], .ng-invalid:required {
  border-bottom: 2px solid rgb(201, 11, 11);
}

.error_message {
  color: red;
}

.data button {
  display: flex;
  min-height: 5vh;

  margin: 3vh 0 3vh 0;

  align-items: center;
  justify-content: center;
}
